.whoisit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background: radial-gradient(
      circle,
      rgba(240, 72, 96, 0.8) 62%,
      rgba(200, 14, 41, 0.8) 100%
    ),
    url(../../assets/imgs/26176.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 200ms;
  animation: showModal 200ms;
  z-index: 1000;
}
.whoisit.open {
  opacity: 1;
  pointer-events: all;
  transition: all ease-in-out 200ms;
}

.whoisit .whoisit_container {
  width: 100%;
  max-width: 700px;
  padding: 3rem;
  text-align: center;
}

.whoisit__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.whoisit__close:hover {
  stroke: #ffcc03;
  outline: 1px salmon;
}

.whoisit__pokemon {
  width: 100%;
  max-width: 50%;
  height: 300px;
  filter: brightness(0);
  margin: 0 auto 1rem;
  transition: all ease-in 250ms;
}
.whoisit__pokemon.correct {
  filter: brightness(1);
  transform: scaleZ(1.1);
}

.whoisit__title {
  font-family: "Pokemon";
  color: #ffcb05;
  font-size: 4rem;
  line-height: 1.2;
  text-shadow: 5px 5px #2a75bb;
  margin: 0 0 3rem;
}

.whoisit__answer {
  font-family: "Pokemon";
  color: #ffcb05;
  font-size: 3.4rem;
  letter-spacing: 5px;
  line-height: 1.2;
  text-shadow: 5px 5px #2a75bb;
  margin: 1rem 0 2rem;
}

.whoisit_actions {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.whoisit__input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.whoisit__input:focus {
  outline: none;
}

.whoisit__another, .whoisit__guess {
  width: 45%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #2a75bb;
  color: #fff;
  text-transform: uppercase;
  transition: all ease-in 250ms;
  cursor: pointer;
}
.whoisit__another {
  background-color: #696969;
}
.whoisit_actions button:hover {
  background-color: #276299;
}

@media screen and (max-width: 600px) {
  .whoisit {
    align-items: flex-start;
    padding-top: 5vh;

    &_container {
      height: 90vh;
      padding: 0.5rem 1.5rem 1.5rem !important;
    }
    
    &__title {
      font-size: 2rem;
      line-height: 2;
    }

    &__close {
      top: 0.5rem;
      right: 1rem;
      width: 3rem;
    }

    &__pokemon {
      max-width: 70%;
      height: 25vh;
    }

    &__input {
      margin-bottom: 1rem;
    }

    &__answer {
      margin: 1rem 0 1rem;
    }

    &_actions {
      height: 30vh;
      flex-direction: column;
      box-sizing: border-box;

      button {
        width: 80%;
      }
    }
    &__another {
      // display: none;
      order: 2;
    }
  }
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
