.logo {
  width: 350px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: linear-gradient(311deg, #3B4CCA, #26328a);
  border-bottom: 3px solid #333;
  box-shadow: 0 3px 12px 10px rgb(0 0 0 / 10%);
}