.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(0, 96, 144, 1) 0%,
    rgba(0, 120, 192, 1) 100%
  );
  opacity: 1;
  transition: all ease-in-out 200ms;
  z-index: 100;

  &_pokeball {
    width: 100px;
    margin-top: 1rem;
    animation: bounce 2s infinite ;
  }

  &_name {
    width: 100%;
    max-width: 400px;
  }
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.2rem;
  padding: 2rem;
}

.pokedex_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 1rem auto;
  padding: 0 2rem;

  &__title {
    font-size: 3rem;
    color: #46485d;
  }

  &__btn {
    font-size: 16px;
    font-family: "Pokemon GB", Arial, sans-serif;
    border-radius: 2px;
    padding: 15px 20px;
    line-height: 16px;
    background: white;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black, inset 0 0 0 1px black;
    transition: all ease 250ms;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

@keyframes bounce {
  0%    { transform: rotate(0deg); }
  5%    { transform: rotate(-5deg); }
  10%    { transform: rotate(10deg); }
  15%    { transform: rotate(-10deg); }
  20%    { transform: rotate(0deg); }
  80%    { transform: rotate(0deg); }
  85%    { transform: rotate(-5deg); }
  90%    { transform: rotate(10deg); }
  95%    { transform: rotate(-10deg); }
  100%    { transform: rotate(0deg); }
}
